:root{
    --height: 80vh;
}

.item-image-wrapper{
    display: grid !important;
    grid-template-columns: 1fr auto 1fr;
}

.item-image{
    max-height: var(--height) !important;
    grid-column: 2 / span 1 !important;
    width: auto !important;
}

.item-image-actual{
    max-height: var(--height) !important;
    position: static !important;
}

img, video{
    width: auto !important;
}

.video-controls{
    grid-column: 2 / span 1 !important;    
    width: 100% !important;
    justify-self: stretch;
}
